body {
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: #9c835f;
    height: 100vh;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    margin-left: 50px;
}

.computer {
    margin-right: 50px;
}

.tengah {
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

}

.vs{

}

.tulisanVs{
    font-size: 144px;
    font-weight: bold;
    color: #BD0000;
}

.tulisanHasil{
    width: 270px;
    height: 160px;
    background-color: #4C9654;
    font-size: 38px;
    font-weight: bold;
    color: white;
    transform: rotate(-30deg);
    margin: auto;
}

.tulisanDraw{
    width: 270px;
    height: 160px;
    background-color: #035B0C;
    font-size: 38px;
    font-weight: bold;
    color: white;
    transform: rotate(-30deg);
}


.container img {
    height: 120px;
    width: 120px;
    margin-top: 20px;

}

/* .box {
    border: 1px solid orangered;
    width: 120px;
    height: 120px;
    margin-top: 120px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
} */

/* .batu {
    background-color: aqua;
    background-image: url(assets/batu.png);
    background-position: center;
} */

