body{
    margin: 0px;
    padding: 0px;
}

.box{
    height: 100vh;
}

.page1{
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.header{
    background-color: rgb(0,0,0,0.5);
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo{
    width: 20%;
    font-weight: bold;
    display: flex;
}

.mainNav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.login{
    display: flex;
    
}

.content{
    text-align: center;
    vertical-align: middle;
}

.judul{
    margin-top: 15%;
}

.login{
    display: flex;
    justify-content: space-around;
}



.page-2{
    background-image: url(assets/the-games-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

}

.kiripage-2{
    color: white;
    font-weight: bold;
    height: 30%;
    width: 30%;
}

.kiripage-2 h3{
    font-size: 20px;
}

.kiripage-2 h1{
    font-size: 50px;
}

.kananpage-2{
    width: 50%;
    height: 50%;

}

.page-3{
    background-image: url(assets/features.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;

}

.kiripage-3{
    background-color: white;
    height: 50%;
    width: 50%;
}

.kananpage-3{
    color: white;
    float: right;
    margin-top: 20%;
    height: 50%;
    width: 50%;
    font-family: sans-serif;
}

.kananpage-3 h2{
    font-size: 20px;
}

.kananpage-3 h1{
    font-size: 40px;
}

.kananpage-3 h5{
    color: orange;
    font-size: 20px;
}

.kananpage-3 p{
    font-size: 10px;
}

.page-4 {
    background-image: url(assets/requirements.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.center{
    text-align: center;
}
  
.page-4 h3{
    font-size: 14px;
}

table.requirement h4{
    font-size: 26px;
    color: orange;
}
table.requirement p{
    font-size: 18px;
    color: white;
}
table.requirement{
    margin-top: 20px;
}
  
table.requirement td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
}
  

.page-5{
    background-image: url(assets/top-score-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;

}

.left-page5{
    margin-left: 10%;
    color: white;
    padding-top: 30%;
}

.right-page5{

}

.comment{
}

.comment img{
    width: 70px;
   height: 70px;
   border-radius: 50%;
}

.comment h3{
    color: orange;
}

.tweet{
    color: white;
}